// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// begin App css coding
#spinner {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}
