#background {
	background-image: url(../images/gathered_photos/brucer_background.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#footer {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	height: 30px;
	width: 700px;
	top: 420px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #006600;
	background-color: #003300;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
	word-spacing: 3px;
	padding-top: 8px;
	text-indent: 10px;
}
#main {
	overflow: visible;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 850px;
	bottom: 0px;
	left: 0px;
	background-image: url(../images/gathered_photos/brucer.jpg);
	background-repeat: no-repeat;
	background-position: right bottom;
}
.aboutcomposer {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #FFFFFF;
	text-align: center;
	vertical-align: top;
	font-weight: bold;
	padding-right: 10px;
}
.text {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #003300;
	padding-right: 15px;
	padding-left: 5px;
	text-align: justify;
}
#leftside {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	overflow: auto;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 480px;
	bottom: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #003300;
	border-right-color: #003300;
	font-style: normal;
	font-weight: normal;
	padding-right: 10px;
	padding-top: 5px;
	left: 0px;
	padding-left: 10px;
}
#linkbanner {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	height: 20px;
	width: 850px;
	top: 67px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: normal;
	color: #000000;
	text-align: justify;
	vertical-align: middle;
	text-indent: 7px;
	padding-top: 5px;
}
#header {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	height: 74px;
	width: 850px;
	top: 0px;
	left: 0px;
}
h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #006600;
}

a.link:link {
	color: #006400;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link:visited {
	color: #006400;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link:hover {
	color: #FFCE00;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}


a.link_sub1:link {
	color:#FFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link_sub1:visited {
	color:#FFF;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link_sub1:hover {
	color:#999;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}


a.link_sub2:link {
	color:#FFCE00;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link_sub2:visited {
	color:#FFCE00;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}
a.link_sub2:hover {
	color:#999;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

a.text:active {
	color: #003300;
	text-decoration: none;
	font-size: 14px;
}
a.student:link {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
a.student:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
a.student:hover {
	color: #003300;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
a.student:active {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
}
a.textlink:link {
	color: #000033;
	text-decoration: underline;
}
a.textlink:visited {
	color: #000033;
	text-decoration: underline;
}
a.textlink:hover {
	color: #009966;
	text-decoration: underline;
}
a.textlink:active {
	color: #009933;
	text-decoration: underline;
}
a.textcontact:link {
	color: #006666;
	text-decoration: underline;
}
a.textcontact:visited {
	color: #006666;
	text-decoration: underline;
}
a.textcontact:hover {
	color: #006699;
	text-decoration: underline;
}
a.textcontact:active {
	color: #006666;
	text-decoration: underline;
}
a.audio:link {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}
a.audio:visited {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}
a.audio:hover {
	color: #FFFFFF;
	text-decoration: underline;
	font-size: 11px;
}
a.audio:active {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
}
#backgroundbio {
	/*background-image: url(../images/gathered_photos/06.jpg);*/
	background-image: url(../images/gathered_photos/IMG_0488.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#backgroundcomp {
	background-image: url(../images/gathered_photos/01_1-no_text.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#backgroundstud {
	background-image: url(../images/brins_mesa2_edit.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#headerstu {
	overflow: hidden;
	position: absolute;
	visibility: visible;
	height: 74px;
	width: 700px;
	top: 0px;
	left: 0px;
	background-image: url(../images/gathered_photos/banner_green.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}
#leftsidestu {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	overflow: auto;
	position: absolute;
	visibility: visible;
	height: 410px;
	width: 563px;
	bottom: 9px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #003300;
	background-repeat: no-repeat;
	background-position: right -150px;
	font-style: normal;
	font-weight: normal;
	padding-right: 10px;
	padding-top: 5px;
	background-image: url(../images/backdrop_transparent_white.png);
	right: -7px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #003300;
	border-left-color: #003300;
	padding-left: 10px;
}
.textstu {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #006600;
	font-style: normal;
}
.cdcover {
	margin-left: 15px;
	border: 1px dashed #000000;
}
body {
	background-color: #CCCCCC;
}
#backgroundcontact {
	background-image: url(../images/gathered_photos/03.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#backgroundaudio {
	background-image: url(../images/gathered_photos/09.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#leftsidecontact {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	overflow: auto;
	position: absolute;
	visibility: visible;
	/*
	height: 180px;
	width: 400px;
	*/
	bottom: 0px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #003300;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-style: normal;
	font-weight: normal;
	padding-right: 10px;
	padding-top: 5px;
	background-image: url(../images/gathered_photos/03_text.jpg);
	right: 0px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #003300;
	padding-left: 40px;
}
#audio_player {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	position: absolute;
	visibility: visible;
	height: 345px;
	width: 456px;
	background-repeat: no-repeat;
	background-position: right bottom;
	font-style: normal;
	font-weight: normal;
	left: 387px;
	top: 200px;
}
.textsmall {
	font-family: "Times New Roman", Times, serif;
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #6600CC;
}
#biosidetex {
	/*background-image: url(../images/gathered_photos/06_text.jpg);*/
	background-image: url(../images/backdrop_transparent_white.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: visible;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 480px;
	bottom: 0px;
	left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 10px;
}
.text2 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #993333;
	padding-right: 15px;
	padding-left: 5px;
	text-align: justify;
}
.text3 {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	color: #6600FF;
	padding-right: 15px;
	padding-left: 0px;
	text-align: justify;
	font-style: normal;
	font-weight: normal;
}
#leftsiderec {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003300;
	overflow: auto;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 610px;
	bottom: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-top-color: #003300;
	border-right-color: #003300;
	font-style: normal;
	font-weight: normal;
	padding-right: 10px;
	padding-top: 5px;
	left: 0px;
	padding-left: 10px;
}
#recsidetex {
	background-image: url(../images/gathered_photos/08_text.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: visible;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 610px;
	bottom: 0px;
	left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 10px;
}
#backgroundrec {
	background-image: url(../images/gathered_photos/08.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: 1px solid #006600;
	overflow: hidden;
	position: relative;
	visibility: visible;
	height: 576px;
	width: 850px;
	margin-left:auto;
	margin-right:auto;
}
#linkcomp {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	height: 400px;
	width: 200px;
	padding-top: 0px;
	padding-left: 20px;
	overflow: hidden;
	position: absolute;
	visibility: visible;
	left: 1px;
	top: 10px;
	font-size: 10px;
	font-style: normal;
}
#compsidetex {
	background-image: url(../images/gathered_photos/01_1_transparent.png);
	background-repeat: no-repeat;
	background-position: left bottom;
	overflow: visible;
	position: absolute;
	visibility: visible;
	height: 450px;
	width: 850px;
	bottom: 0px;
	left: 0px;
	padding-right: 10px;
	padding-top: 5px;
	padding-left: 10px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #006600;
	border-right-color: #006600;
	border-bottom-color: #006600;
	border-left-color: #006600;
}
#textcompOrchestra {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompWind {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompChoral {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompVocal {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompSolo {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompChamber {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
#textcompElec {
	height: 400px;
	width: 500px;
	padding-top: 5px;
	padding-right: 10px;
	padding-left: 5px;
	overflow: auto;
	position: absolute;
	visibility: hidden;
	top: 0px;
	right: 20px;
}
table {
	border: none;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
}
td {
	border: none;
	padding: 5px;
	border-collapse: collapse;
}
th {
	border: none;
	padding: 5px;
	border-collapse: collapse;
	background-color:#7F9FC5;
}
.dark {
	background-color:#98AECB;
}
.light {
	background-color:#282A30;
}

.reviewheader {
	font-family: "Times New Roman", Times, serif;
	font-size: 14px;
	font-weight: bold;
	color: #006600;
	font-style: normal;
	margin-bottom:5px;
}

.reviewcomment {
	margin-left:2px;
	margin-bottom:10px;
}

.revieweditor {
	margin-left:50px;
	margin-bottom:20px;
}
